body {

}
.panel panel-default{
  background-color: black;
}
.panel-body{
  background-color: gainsboro;
}
.question1 {
  display: none;
}
.question2 {
  display: none;
}
.question3 {
  display: none;
}
.question4 {
  display: none;
}
.question5 {
  display: none;
}
.question6 {
  display: none;
}
.submitted-question {

}
