body {
  background-image: url("https://subtlepatterns.com/patterns/ignasi_pattern_s.png");
}
img {
  display: block;
  float: left;
  height: 75px;
}
#main-container {
  margin-top: 20px;
  border-radius: 10px;
  padding-bottom: 20px;
  background: white;
}
#results-container {
  display: none;
}
#results-button {
  display: none;
}
.panel-body{
  background-color: ghostwhite;
}
.question1 {
  display: none;
}
.panel h3 {
  word-wrap: break-word;
  width: 85%;
}
.question2 {
  display: none;
}
.question3 {
  display: none;
}
.question4 {
  display: none;
}
.question5 {
  display: none;
}
.question6 {
  display: none;
}
.submitted-question {

}
input {
  text-align: left;
  border: 3px solid black;
}

.highlight-results {
  border: 2px solid lime;
  font-weight: bold;
}
