body {
  background-image: url("https://subtlepatterns.com/patterns/ignasi_pattern_s.png");
}

.clickable:hover {
  color: #3366BB;
  text-decoration: underline;
}

img {
  display: block;
  float: left;
  height: 75px;
}

#main-container {
  border-radius: 10px;
  padding-bottom: 20px;
  background: white;
}

#results-container {
  margin-top: 20px;
  display: none;
  border-radius: 20px;
  background: whitesmoke;
}

#results-button {
  display: none;
}

.panel-body {
  background-color: aliceblue;
}

.question1 {
  display: none;
}

.question2 {
  display: none;
}

.question3 {
  display: none;
}

.question4 {
  display: none;
}

.question5 {
  display: none;
}

.question6 {
  display: none;
}

.highlight-results {
  border: 2px solid lime;
  font-weight: bold;
}

input {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 100px;
  margin-right: 100px;
}
